<mat-toolbar>
<button mat-button>share-house</button>
<span class="spacer"></span>

<button *ngIf="!(user$ | async)" mat-raised-button (click)="login()">ログイン</button>
<!-- *ngIf="!(user$ | async)"  -->

<button *ngIf="user$ | async as user" mat-raised-button (click)="logout(user.uid)">ログアウト</button>

</mat-toolbar>

<div class="room" [class.dark]="!(lightStatus$ | async)">
  <div class="room__light" (click)="toggleLight()"></div>
  <div class="user" *ngFor="let user of users$ | async" [style.left]="user.leftPosition" cdkDragBoundary=".room" cdkDragLockAxis="x" cdkDrag>

    <p *ngFor="let message of messages[user.uid]">{{message}}</p>
    <img src="assets/images/{{user.avatarId}}.png">
  </div>
  <div class="room__floor">

  </div>
</div>

<form *ngIf="user$ | async as user" [formGroup]="form" (ngSubmit)="sendMessage(user.uid)">
<mat-form-field>
 <input type="text" matInput formControlName="body" autofocus autocomplete="off">
</mat-form-field>

 <button mat-icon-button>
   <mat-icon>send</mat-icon>
 </button>
 </form>
