.spacer {
  flex: 1;
}

.side-nav {
  width: 300px;
  padding: 16px;
}

.item-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.room {
  width: 1000px;
  margin: 24px auto;
  height: 500px;
  border: 1px solid rgba(black,.6);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #333;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
  }
  &.dark:after {
    opacity: 0.8;
  }
  &__display {
    position: absolute;
    top: 40;
    left: 40;
    width: 400px;
    height: 300px;
    background: black;
    padding: 16px;
  }
  &__light {
    position: absolute;
    z-index: 300;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
  }
  &.dark &__light {
    background: rgb(255, 255, 193);
  }
  &__floor {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background:rgb(49, 80, 255);
  }
}

.user {
  position: absolute;
  bottom: 50px;
  left: 0;
  max-width: 50px;
}


.item {
  display: block;
  &--s {
    max-width: 50px;
  }
  &--m {
    max-width: 100px;
  }
  &--l {
    max-width: 200px;
  }
}
